
html {
   scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-size: 15px;
  background-color: #202026;
  font-family: -apple-system, Roboto, sans-serif, serif;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: -webkit-fill-available;
}